{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}
<div class="container bg-white my-4 p-3">
    <h2 class="my-3">Registrate, nerd!</h2>
    {{ form_start(registration_form) }}
    <div class="row">
        <div class="col-md-12 my-2">
            {{ form_label(registration_form.email, 'Correo Electr칩nico*') }}
            {{ form_widget(registration_form.email, {'attr': {'placeholder': 'tnlcomputer@gmail.com'}}) }}
        </div>
        <div class="col-md-12 my-2">
            {{ form_label(registration_form.password, 'Contrase침a*') }}
            {{ form_widget(registration_form.password, {'attr': {'placeholder': 'introduce la contrase침a'}}) }}
        </div>
        <div class="col-md-12 my-2">
            {{ form_label(registration_form.photo, 'Foto') }}
            {{ form_widget(registration_form.photo) }}
        </div>
        <div class="col-md-12 my-2">
            {{ form_label(registration_form.description, 'Descripci칩n') }}
            {{ form_widget(registration_form.description, {'attr': {'placeholder': 'Cuentanos sobre ti'}}) }}
        </div>
        <div class="col-md-12 my-2">
            {{ form_widget(registration_form.submit, {'attr': {'class': 'btn btn-success btn-block'}}) }}
        </div>
    </div>
    {{ form_end(registration_form) }}
    <a href="{{ path('login') }}" class='btn btn-primary btn-block'>Login</a>

</div>
{% endblock %}
